<div>
  <form ng-submit="coderbyteQuiz()">
    <h3>Coderbyte Quiz</h3>
    <p>var arr1 = "john".split('');</p>
    <p>var arr2 = arr1.reverse();</p>
    <p>var arr3 = "jones".split('');</p>
    <p>arr2.push(arr3);</p>
    <p>console.log("array 1: length=" + arr1.length + " last=" + arr1.slice(-1));</p>
    <p>console.log("array 2: length=" + arr2.length + " last=" + arr2.slice(-1));</p>
    <h3>What will the two console logs output?</h3>
    <input type="text" ng-model="question1" required><br/>
    <input type="text" ng-model="question2" required><br/>
    <button>Submit</button>
 </form>
</div>